// app global css

// Notify Dissmiss Btn
.q-notification__actions
  .q-btn__content
    color white


body
  color #606c71
  font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 16px

  a
    color #606c71
